/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: inherit;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

html {
    line-height: 1; /* 1 */
}
hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
}
pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}
a {
    background-color: transparent;
}
b, strong {
    font-weight: bolder;
}
code, kbd, samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
img {
    border-style: none;
}
button, input, optgroup, select, textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
}
button, input { /* 1 */
    overflow: visible;
}
button, select { /* 1 */
    text-transform: none;
}
fieldset {
    padding: 0.35em 0.75em 0.625em;
}
legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
}
progress {
    vertical-align: baseline;
}
textarea {
    overflow: auto;
}
[type="checkbox"], [type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}
[type="search"] {
    outline-offset: -2px; /* 2 */
}
details {
    display: block;
}
summary {
    display: list-item;
}
template {
    display: none;
}
[hidden] {
    display: none;
}

/*---BEGIN MY STYLE---*/

body { 
    font-family: Georgia, Times, serif;
    font-size: 18px;
    background-color: WhiteSmoke;
    margin: 2.5%;
    display: grid;
    grid-template-columns: 75vw 20vw;
}

#map {
    width: 75vw;
    height: 40vw;  
}

h1 {
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.2em;
    cursor: pointer;
}

h2 {
    font-weight: bold;
    font-size: 1em;
}

h3 {
    font-size: .75em;
    font-weight: bold;
    margin-bottom: -15px;
}

#nav > p {
    font-size: 15px;
    line-height: 1.5em;
    padding-top: 5px;
    margin-bottom: 5px;
}

table,th,td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    font-size: 15px;
}

foreignObject {
    font-size: 14px;
    padding: .5%;
}

foreignObject > p > b {
    font-size: 16px;
    line-height: 1.4em;
}

.button {
    background-color: #F5F5F5;
    font-size: 16px;
    line-height: 1.2em;
    margin: 5px;
	border: 2px solid WhiteSmoke;
	border-bottom: 2px solid #000;
}

.button:hover {
	border: 2px solid #000;
}

.button:focus {
	border: 2px solid #000;
	outline: none;
}

#year {
	display: inline-block;
	font-size: 16px;
	font-family: Georgia, Times, serif;
	font-weight: 500;
	color: #000;
	line-height: 1;
	padding: 3px 5px;
    width: auto;
	border: 2px solid WhiteSmoke;
	border-bottom: 2px solid #000;
	margin: 0;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background: WhiteSmoke;
}

#year:hover {
	border: 2px solid #000;
}
#year:focus {
	border: 2px solid #000;
	outline: none;
}
#year option {
	font-weight: normal;
}

#links {
  position: fixed;
  bottom: 2.5%; 
  right: 2.5%; 
}

a {
  color: black;
  text-decoration: underline;
}

a:visited {
  color: black;
  text-decoration: none;
  text-decoration: underline;
}

a:hover {
  color: Grey;
  text-decoration: underline;
}

#to-info, #to-sources, #return {
    cursor: pointer;
}

#info, #sources {
    display: none;
    font-size: 20px;
    margin-right: 20%;
}

#info>h2 {
    margin-bottom: 1.5em;
}

#info>p {
    margin-bottom: 1.5em;
}
