body { 
    font-family: Charter;
    font-size: 18px;
    background-color: WhiteSmoke;
    margin: 2.5%;
    display: grid;
    grid-template-columns: 75vw 20vw;
}

#map {
    width: 75vw;
    height: 40vw;  
}

h1 {
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.2em;
    cursor: pointer;
}

h2 {
    font-weight: bold;
    font-size: 1em;
}

h3 {
    font-size: .75em;
    font-weight: bold;
    margin-bottom: -15px;
}

/*#nav > p {
    font-size: 15px;
    line-height: 1.5em;
    padding-top: 5px;
    margin-bottom: 5px;
}*/

table,th,td {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 12px;
}

th,td {
    padding: 2px;
    text-align: left;
}

#theaters_list {
    height: 40vh;
    overflow-y: auto;
}

foreignObject {
    font-family: sans;
    font-size: 12px;
    padding: .5%;
    line-height: 1.2;
}

foreignObject > p > b {
    font-size: 16px;
    line-height: 1.4;
}

.button {
    background-color: #F5F5F5;
    font-size: 16px;
    line-height: 1.2em;
    margin: 5px;
	border: 2px solid WhiteSmoke;
	border-bottom: 2px solid #000;
}

.button:hover {
	border: 2px solid #000;
}

.button:focus {
	border: 2px solid #000;
	outline: none;
}

#year {
	display: inline-block;
	font-size: 16px;
	font-family: Georgia, Times, serif;
	font-weight: 500;
	color: #000;
	line-height: 1;
	padding: 3px 5px;
    width: auto;
	border: 2px solid WhiteSmoke;
	border-bottom: 2px solid #000;
	margin: 0;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background: WhiteSmoke;
}

#year:hover {
	border: 2px solid #000;
}
#year:focus {
	border: 2px solid #000;
	outline: none;
}
#year option {
	font-weight: normal;
}

#links {
  position: fixed;
  bottom: 2.5%; 
  right: 2.5%; 
}

a {
  color: black;
  text-decoration: underline;
}

a:visited {
  color: black;
  text-decoration: none;
  text-decoration: underline;
}

a:hover {
  color: Grey;
  text-decoration: underline;
}

#to-info, #to-sources, #return {
    cursor: pointer;
}

#info, #sources {
    display: none;
    font-size: 20px;
    margin-right: 20%;
}

#info > h2 {
    margin-bottom: 1.5em;
}

#info > p {
    margin-bottom: 1.5em;
}
